{
  "presets": [
    "react-app"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "~components": "./src/app/components",
        "~screens": "./src/app/screens",
        "~store": "./src/store",
        "~services": "./src/services",
        "~utils": "./src/utils"
      }
    }]
  ]
}
