.title {
  font-size: $font-title;
  line-height: $font-title + 3;
}

.subtitle {
  font-size: $font-subtitle;
  line-height: $font-subtitle + 3;
}

.text-normal {
  font-size: $font-normal;
  line-height: $font-normal + 3;
}

.text-small {
  font-size: $font-small;
  line-height: $font-small + 3;
}

.blue {
  color: $facebook-blue;
}
