@import 'variables/sizes';

.container {
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  max-width: $sidebar-size;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
}
